* {
  margin: 0;
  box-sizing: border-box;
}

header {
  background-color: #f1f2f5;
  display: flex;
  flex-direction: row;
  background-color: rgb(181, 224, 178);
  top: 0;
  width: 100%;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1.5em;
  box-shadow: 0 0.3125em 0.5em - 0.5em rgba(0, 0, 0, 0.75);
}
header{
	  justify-content: space-evenly;

}
.Header_Gauche {
	margin:1em;
	float:left;
	display: flex;
  align-items: center;
}

.Header_Gauche img {
  width: 3.125em;
  height: 3.125em;
}

.header_input {
  display: flex;
  align-items: center;
  background-color: #eff2f5;
  padding: 0.625em;
  margin-left: 0.625em;
  border-radius: 2em;
}

.header_input .material-icons {
  border: none;
  background-color: transparent;
  padding-top: 0.1875em;
}

.header_input input{
	border-style: none;
	background-color: transparent;
	outline-width: 0;
}
.Header_Milieu{
	width: 10em;
	margin:1em;
}

.material-icons a{
	text-decoration: none;
	color: black;
	font-size: 2em;
}
.material-icons a:hover{
	background-color: #eff2f5;
	border-radius: 0.25em;
}

.Header_Droite {
	float:right;
	align-self:right;
  display: flex;
  align-items: center;
}
.Header_Droite img {
  border-radius: 100%;
  width: 3.75em;
  height: 3.75em;
  margin-right: 0.625em;
}
.Header_Droite h4:hover {
  background-color: #eff2f5;
  border-radius: 0.625em;
  align-items: center;
  border-bottom: none;
  padding: 0.625em;
}
.Header_Droite h4 {
  border-radius: 0.625em;
  font-size: 1em;
  align-items: center;
  border-bottom: none;
}
.Header_Droite h4:hover {
  background-color: #eff2f5;
  border-radius: 0.625em;
  align-items: center;
  border-bottom: none;
  padding: 0.625em;
}
/* MenuGauche  */

.Gauche_Images{
	display:flex;
}

.MenuGauche {
	display:flex;
   padding-top: 1em;
	padding-bottom:1em;
	height: 4em;
	padding-left: 1em;
	padding-right: 1em
}
.MenuGauche:hover {
  background-color: lightgray;
  border-radius: 0.625em;
}
.MenuGauche span{
	font-size:3em;
}
.MenuGauche h4 {
	float:right;
	display:flex;
	margin-left: 1.25em;
	font-size: 1.5625em;
	font-family: Arial, Helvetica, sans-serif;
}
/* Mes images */
.Mes_images {
	width:80%;
	object-fit: cover;
	display:flex;
  position: relative;
  margin-top: 1em;
  margin-right: 0.625em;
  width: 10em;
  height: 20em;
  box-shadow: 0px 0.4em 1em -0.95 rgba(0, 0, 0, 0.75);
  border-radius: 0.625em;
}

.Mes_images figcaption{
	width: 10em;
	margin-top: 19em;
	margin-left: 0em;
	position:absolute;
	color: white;
	background-color: #7b7b65a8;
	font-weight:bold;
	width: 100%;
	text-align: center;
	
}
.Mes_images{
	position: relative;
	float:left;
}
.Mes_images img:hover {
  transform: scale(1.07);
}
/* Text et image du bas */

.ImageBottom{
	  background-color: #eff2f5;
	margin-top: 3em;
	padding-top: 1em;
}

.Text_bas {
	margin-left:1%;
	width: 98%;
	margin-top: 1em;
	padding: 0.5em 1em 0.5em 1em;
	font-size: 1.3125em;
	font-family: cursive;
	color: rgba(0, 0, 0, 0.75);
	border-radius: 1em;
	background-color: rgb(255 255 255);
	box-shadow: 0px 0.4em 0.9em -0.9em rgba(0, 0, 0, 0.75);
	text-align: center;
}
.image_bas {
  width: 90%;
	height:auto;
  margin-left: 5%;
  margin-top: 1em;
  border-radius: 35%;
  background-color: white;
  box-shadow: 0px 0.4em 0.9em -0.9em rgba(0, 0, 0, 0.75);
  animation: flotte 2000ms linear infinite;
  /* la forme va appliquer lanimation tourne pendant 5s et infiniment */
}
@keyframes flotte{
	0% {transform:scale(0.9)}
	50% {transform:scale(0.95)}
	100% {transform:scale(0.9)}	
}
@media (max-width: 768px) {


  .MenuGauche {
    display: none;
  }
header{
	justify-content: space-evenly;
}
  .header_input {
    display: flex;
    align-items: center;
    background-color: #eff2f5;
    padding: 0.3em;
    margin-left: 0.3em;
    border-radius: 2em
  }
	}
  .header_middle {
    display: flex;
    flex: 1;
    justify-content: center;
    list-style-type: none;
    padding: 1.25em;
    color: #f1f3f7;
    width: 10%
  }
  .header_middle .material-icons {
    font-size: 0.5em;
    color: #181818;
    text-decoration: none
  }
  .header_right img {
    border-radius: 100%;
    width: 1.5em;
    height: 1.5em;
    margin-right: 0.25em
  }
  .header_right h4 {
    border-radius: 0.625em;
    font-size: 0.5em;
    align-items: center;
    border-bottom: none;
  }
  .main {
    margin-top: 1.25em;
    width: 100%;
    padding: 0
  }
  figcaption {
    font-size: 0.625em;
  }




  .Mes_images {
    position: relative;
    margin-top: 2em;
    margin-right: 0.625em;
    width: 5em;
    height: 10em;
    box-shadow: 0px 0.4px 1em -0.95 rgba(0, 0, 0, 0.75);
    border-radius: 0.625em
  }
  .bas {
    width: 50%;
    margin-left: 1.25em
  }
  .image_bas {
    width: 25%;
    margin-left: 12em;
    margin-top: 1em;
    border-radius: 35%;
    background-color: white;
    box-shadow: 0px 0.4em 0.9em -0.9em rgba(0, 0, 0, 0.75);
    animation: flotte 2000ms linear infinite
  }



  .Text_bas {
    width: 85%;
    margin-top: 1em;
    height: 3em;
    padding: 0em 0.5em 0em 0.5em;
    font-size: 1em;
    font-family: cursive;
    margin-left: 2em;
    color: white;
    border-radius: 0.95em;
    background-color: #eff2f5;
    text-align: center
  }
}
