* {/*enlever la marge pour tout*/
  margin: 0;
  box-sizing: border-box;
}

header {/*propriétées du header*/
  background-color: #f1f2f5;
  display: flex;
  flex-direction: row;
  background-color: rgb(181, 224, 178);
  top: 0;
  width: 100%;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1.5em;
  box-shadow: 0 0.3125em 0.5em - 0.5em rgba(0, 0, 0, 0.75);
}
header{/*espacer tout*/
	  justify-content: space-evenly;

}
.Header_Gauche {/*propriétés du header*/
	margin:1em;
	float:left;
	display: flex;
  align-items: center;
}

.Header_Gauche img {/*propriétés de l'image du header*/
  width: 3.125em;
  height: 3.125em;
}

.header_input {/*propriétés de l'input*/
  display: flex;
  align-items: center;
  background-color: #eff2f5;
  padding: 0.625em;
  margin-left: 0.625em;
  border-radius: 2em;
}

.header_input .material-icons {/*propriétés des icones*/
  border: none;
  background-color: transparent;
  padding-top: 0.1875em;
}

.header_input input{/*propriétés du input*/
	border-style: none;
	background-color: transparent;
	outline-width: 0;
}
.Header_Milieu{/*marges du heder au milieu*/
	width: 10em;
	margin:1em;
}

.material-icons a{/*pour chaque lien des icones, cacher le texte qui indique que c'est un lien*/
	text-decoration: none;
	color: black;
	font-size: 2em;
}
.material-icons a:hover{/*quand on hover sur les liens, les surligner*/
	background-color: #eff2f5;
	border-radius: 0.25em;
}

.Header_Droite {/*propriétés du header de droite*/
	float:right;
	align-self:right;
  display: flex;
  align-items: center;
}
.Header_Droite img {/*propriétés de l'image du header de droite*/
  border-radius: 100%;
  width: 3.75em;
  height: 3.75em;
  margin-right: 0.625em;
}
.Header_Droite h4:hover {/*quand on hover sur le texte du header de droite, changer les propriétés*/
  background-color: #eff2f5;
  border-radius: 0.625em;
  align-items: center;
  border-bottom: none;
  padding: 0.625em;
}
.Header_Droite h4 {/*propriétés*/
  border-radius: 0.625em;
  font-size: 1em;
  align-items: center;
  border-bottom: none;
}
/* MenuGauche  */

.Gauche_Images{/*flexer les éléments*/
	display:flex;
}

.MenuGauche {/*propriétés*/
	display:flex;
   padding-top: 1em;
	padding-bottom:1em;
	height: 4em;
	padding-left: 1em;
	padding-right: 1em
}
.MenuGauche:hover {/*quand on hover dessus un des éléments du menu de gauche, le surligner en gris*/
  background-color: lightgray;
  border-radius: 0.625em;
}
.MenuGauche span{/*propriétés*/
	font-size:3em;
}
.MenuGauche h4 {/*propriétés*/
	float:right;
	display:flex;
	margin-left: 1.25em;
	font-size: 1.5625em;
	font-family: Arial, Helvetica, sans-serif;
}
/* Mes images */
.Mes_images {/*propriétés*/
	width:80%;
	object-fit: cover;
	display:flex;
  position: relative;
  margin-top: 1em;
  margin-right: 0.625em;
  width: 10em;
  height: 20em;
  box-shadow: 0px 0.4em 1em -0.95 rgba(0, 0, 0, 0.75);
  border-radius: 0.625em;
}

.Mes_images figcaption{/*propriétés*/
	width: 10em;
	margin-top: 19em;
	margin-left: 0em;
	position:absolute;
	color: white;
	background-color: #7b7b65a8;
	font-weight:bold;
	width: 100%;
	text-align: center;
	
}
.Mes_images{/*propriétés*/
	position: relative;
	float:left;
}
.Mes_images img:hover {/*quand on hover dessus les images, les agrandire*/
  transform: scale(1.07);
}
/* Text et image du bas */

.ImageBottom{/*propriétés*/
	  background-color: #eff2f5;
	margin-top: 3em;
	padding-top: 1em;
}

.Text_bas {/*propriétés*/
	margin-left:1%;
	width: 98%;
	margin-top: 1em;
	padding: 0.5em 1em 0.5em 1em;
	font-size: 1.3125em;
	font-family: cursive;
	color: rgba(0, 0, 0, 0.75);
	border-radius: 1em;
	background-color: rgb(255 255 255);
	box-shadow: 0px 0.4em 0.9em -0.9em rgba(0, 0, 0, 0.75);
	text-align: center;
}
.image_bas {/*propriétés*/
  width: 90%;
	height:auto;
  margin-left: 5%;
  margin-top: 1em;
  border-radius: 35%;
  background-color: white;
  box-shadow: 0px 0.4em 0.9em -0.9em rgba(0, 0, 0, 0.75);
  animation: flotte 2000ms linear infinite;
  /* la forme va appliquer lanimation tourne pendant 5s et infiniment */
}
@keyframes flotte{/*animation de l'image du bas*/
	0% {transform:scale(0.9)}
	50% {transform:scale(0.95)}
	100% {transform:scale(0.9)}	
}

@media (max-width: 768px) {/*si la page fais moins que 768px de large, changer toutes les propriétés*/


  .MenuGauche {
    display: none;
  }
header{
display: flex;
flex-direction: column;
padding: 1em;
}
  .header_input {
  width: 80%;
    display: flex;
    align-items: center;
    background-color: #eff2f5;
    padding: 0.3em;
    margin-left: 0.3em;
    border-radius: 2em
  }
  .header_middle {
    display: flex;
    flex: 1;
    justify-content: center;
    list-style-type: none;
    padding: 1.25em;
    color: #f1f3f7;
    width: 10%
  }
  .header_middle .material-icons {
    font-size: 0.5em;
    color: #181818;
    text-decoration: none
  }
  .header_right img {
  float: right;
    border-radius: 100%;
    width: 1.5em;
    height: 1.5em;
  }
  .header_right h4 {
    border-radius: 0.625em;
    font-size: 0.5em;
    align-items: center;
    border-bottom: none;
  }
  .main {
  margin-left: 0.625em;
    margin-top: 1.25em;
    width: 100%;
    padding: 0;
  }
  figcaption {
    font-size: 0.625em;
  }

  .Mes_images {
    position: relative;
    margin-top: 2em;
    margin-right: 0.625em;
    width: 4.5em;
    height: 9em;
    box-shadow: 0px 0.4px 1em -0.95 rgba(0, 0, 0, 0.75);
    border-radius: 0.625em
  }
  .bas {
    width: 50%;
    margin-left: 1.25em
  }
  .image_bas {
    width: 90%;
    margin-left: 5%;
    margin-top: 1em;
    border-radius: 35%;
    background-color: white;
    box-shadow: 0px 0.4em 0.9em -0.9em rgba(0, 0, 0, 0.75);
    animation: flotte 2000ms linear infinite
  }



  .Text_bas {
    width: 85%;
    margin-top: 1em;
    padding: 0em 0.5em 0em 0.5em;
    font-size: 1em;
    font-family: cursive;
    margin-left: 2em;
    color: Black;
    border-radius: 0.95em;
    background-color: rgb(255 255 255);
    text-align: center
  }
}
