body {/*propriétés de la page*/
  font-family: Verdana;
}
ImgBottom{/*Propriétés*/
  Width : 100%;
  Height : 45%;
}
ImgTop{/*Propriétés*/
  Width : 100%;
  Height : 45%;
}
.Copyright{/*Propriétés*/
  text-align: right;
}
.liens{/*Propriétés*/
  display: flex;
  justify-content: center;
  list-style: none;
}
.liens li::after{/*Propriétés*/
  content : " | ";
}
.liens li{/*Propriétés*/
  margin-right : 4px;
}
.liens li:last-child::after{/*Propriétés*/
  content : "";
}
