.header {/*styles du header*/
    display:flex;
    justify-content: left;
		width: 90%;
}
#drapeau {/*styles de l'image de drapeau dans le header*/
    width: 10%;
    height: auto;
}
#HeaderOntario{/*propriétés du header*/
	margin-left: 20px;
}
.liens {/*flexer les liens et ajouter des margin*/
	display: flex;
	margin-left: auto;
	margin-top: 10px;
	margin-bottom: 0px;
}
.liens-texte{/*propriétés du texte des liens*/
    margin-left: 20px;
	text-decoration: none;
	color: #333;
	list-style-type: none;
	font-size: 25px;
}
mark{/*Surlignement des mark qui servent à surlignier les liens*/
	background-color: transparent;
}
mark:hover{
	background-color: rgb(134 118 118 / 50%);
}

#carnet {/*margins*/
	margin-top:5px;
	margin-left: 10px;
	margin-bottom: 0px;
	}
#ligne {/*colorier la ligne horizontale*/
	background-color: brown;
	  border: none;
	height: 2px;
	margin-right: 80px;
}



.imageGrand {/*flexer l'image de la page*/
	display:flex;
	position: relative;
	}
.imageGrand:hover {/*Quand on survole le conteneur de l'image, agrandir ce conteneur*/
	transform: scale(0.9);
}
#toronto-grand{/*Propriétés de l'image*/
	border-radius: 15px;
	width: 100%;
	height: auto;
	}
.textGrand{/*propriétés du conteneur du texte de l'image*/
	background-color: rgba(0, 0, 0, 0.5); 
	border-radius: 15px;
	position: absolute;
	width: 100%;
	height: 15%;
	bottom: 0%; 
    left: 0;
	opacity: 0.8;
	transition: opacity 0.5s ease-in-out;
	align-items: center;
	text-shadow: 5px 5px 0 black;
}
#TexteImageGrand{/*propriétés du texte de l'image*/
	color: white;
	margin-top: 2%;
	padding-left: 20px;
	}
.textGrand:hover{/*changer l'opacité du conteneur du texte de l'image quand on le survole*/
	opacity: 0.1;
}


#toronto-petit {/*proptiétés de l'image circulaire de toronto*/
	width: 180px;
    height: auto;
	border-radius: 50%;

}
#titreBlog {/*propriétés du titre du blog de DT*/
	display:flex;
	justify-content: normal;
	width: 100%;
}

.blog{/*conteneur du blog*/
    display:flex;
    background-color: rgb(240,240,247);
    padding: 1.5em;
    width: %;
    flex-direction: column;
}

#blog-toronto{
    margin-top: 10px;
}
.T1{/*pour tous les titres du blog:*/
font-size: 20px;
text-indent: 0.8cm;
font-family: Cambria,Cochin, Georgia, Times, 'Times New Roman';
}
.contenu{/*propriétés*/
	margin-top: 20px;
    display: flex;
    justify-content: left;
	width: 90%;
	margin-left: 5%;
}
aside{/*propriétés du aside*/
	float: right;
	flex: 1;
	width: 25%;
	background-color: black;
	color: white;
	padding: 1.5em;
	margin-left: 0.5em;
	margin-right: 2.3em;
	border-radius: 1em;
	box-shadow: rgba(0, 0, 0, 0.35) 0px;
	font-family: "Terminal", "Fixedsys", monospace;
}
aside p{/*propriétés du texte du aside*/
text-align:justify;
}
#trump{/*propriétés du conteneur*/
	padding: 0 3em 2em 2em;
}

#logoFacebook{/*pour tous les logos:*/
	width: 50px;
	height: 50px;
	margin: 10px;
}
#logoTwitter{
	width: 50px;
	height: 50px;
	margin: 10px;
}
#logoLinkedin{
	width: 50px;
	height: 50px;
	margin: 10px;
}
#logoInstagram{
	width: 50px;
	height: 50px;
	margin: 10px;
}
#TrumpRouge{/*changer le texte dans le span à rouge*/
	color: red;
}
footer{/*définir les propriétés du footer*/
	display:flex;
	flex-direction: row;
	margin: 5%;
	gap:50px;
}
.amis{/*faire que le footer soit séparé en 2 au milieu*/
	width:50%;
}
.amis ul{/*faire que la liste des amis soit à droite*/
float:left;
	color:darkred;
}
.amis ul li::marker{/*changer la courleur du bullet point des amis*/
	color:black;
}
.tweet{/*changer le width des tweets*/
	width: 50%;
}
.socials{/*propriétés de ses liens*/
    display: flex;
    flex-direction: row;
}
