.header {
    display:flex;
    justify-content: left;
		width: 90%;
}
#drapeau {
    width: 10%;
    height: auto;
}
#HeaderOntario{
	margin-left: 20px;
}
.liens {
	display: flex;
	margin-left: auto;
	margin-top: 10px;
	margin-bottom: 0px;
}
.liens-texte{
    margin-left: 20px;
	text-decoration: none;
	color: #333;
	list-style-type: none;
	font-size: 25px;
}
mark{
	background-color: transparent;
}
mark:hover{
	background-color: rgb(134 118 118 / 50%);
}

#carnet {
	margin-top:5px;
	margin-left: 10px;
	margin-bottom: 0px;
	}
#ligne {
	background-color: brown;
	  border: none;
	height: 2px;
	margin-right: 80px;
}



.imageGrand {
	display:flex;
	position: relative;
	}
.imageGrand:hover {
	transform: scale(0.9);
}
#toronto-grand{
	border-radius: 15px;
	width: 100%;
	height: auto;
	}
.textGrand{
	background-color: rgba(0, 0, 0, 0.5); 
	border-radius: 15px;
	position: absolute;
	width: 100%;
	height: 15%;
	bottom: 0%; 
    left: 0;
	opacity: 0.8;
	transition: opacity 0.5s ease-in-out;
	align-items: center;
	text-shadow: 5px 5px 0 black;
}
#TexteImageGrand{
	color: white;
	margin-top: 2%;
	padding-left: 20px;
	}
.textGrand:hover{
	opacity: 0.1;
}


#toronto-petit {
	width: 180px;
    height: auto;
	border-radius: 50%;

}
#titreBlog {
	display:flex;
	justify-content: normal;
	width: 100%;
}

.blog{
    display:flex;
    background-color: rgb(240,240,247);
    padding: 1.5em;
    width: %;
    flex-direction: column;
}

#blog-toronto{
    margin-top: 10px;
}
.T1{
font-size: 20px;
text-indent: 0.8cm;
font-family: Cambria,Cochin, Georgia, Times, 'Times New Roman';
}
.contenu{
	margin-top: 20px;
    display: flex;
    justify-content: left;
	width: 90%;
	margin-left: 5%;
}
aside{
	float: right;
	flex: 1;
	width: 25%;
	background-color: black;
	color: white;
	padding: 1.5em;
	margin-left: 0.5em;
	margin-right: 2.3em;
	border-radius: 1em;
	box-shadow: rgba(0, 0, 0, 0.35) 0px;
	font-family: "Terminal", "Fixedsys", monospace;
}
aside p{
text-align:justify;
}
#trump{
	padding: 0 3em 2em 2em;
}

#logoFacebook{
	width: 50px;
	height: 50px;
	margin: 10px;
}
#logoTwitter{
	width: 50px;
	height: 50px;
	margin: 10px;
}
#logoLinkedin{
	width: 50px;
	height: 50px;
	margin: 10px;
}
#logoInstagram{
	width: 50px;
	height: 50px;
	margin: 10px;
}
#TrumpRouge{
	color: red;
}
footer{
	display:flex;
	flex-direction: row;
	margin: 5%;
	gap:50px;
}
.amis{
	width:50%;
}
.amis ul{
float:left;
	color:darkred;
}
.amis ul li::marker{
	color:black;
}
.tweet{
	width: 50%;
}
.socials{
    display: flex;
    flex-direction: row;
}