.header {
    display:flex;
    justify-content: left;
		width: 90%;
}
#drapeau {
    width: 10%;
    height: auto;
}
#HeaderOntario{
	margin-left: 20px;
}
.liens {
	display: flex;
	justify-content: right;
	margin-left: auto;
}
#acceuil{
    margin-left: 800px;
	}
#blog{
        margin-left: 20px;

	}
#cv{
        margin-left: 20px;

	}
#contact{
        margin-left: 20px;

	}
#carnet {
	margin-top:5px;
	margin-left: 10px;
	margin-bottom: 0px;
	}
#ligne {
	background-color: brown;
	  border: none;
	height: 2px;
	margin-right: 80px;
}
.imageGrand {
	display:flex;
	position: relative;
	}
.imageGrand:hover {
	margin-left: 5%;
	margin-top: 5%;
	
	width: 90%;
	height: auto;
}
#toronto-grand{
	border-radius: 15px;
	width: 100%;
	height: auto;
	}
.textGrand{
	background-color: rgba(0, 0, 0, 0.5); 
	border-radius: 15px;
	position: absolute;
	width: 100%;
	height: 15%;
	bottom: 0%; 
    left: 0;
	opacity: 0.8;
	transition: opacity 0.5s ease-in-out;
	align-items: center;
}
#TexteImageGrand{
	color: white;
	margin-top: 2%;
	padding-left: 20px;
	}
.textGrand:hover{
	opacity: 0.1;
}


.blog {
}
#toronto-petit {
	width: 10%;
    height: auto;
	border-radius: 50%;

}
#titreBlog {
	display:flex;
	justify-content: left;
	width: 100%;
}